
.main {
  padding: 20px;
}

.closeReopenQuestion, .showHideAnswers {
    margin-left: 20px;
    width: 10em;
}

.studentChoice {
    text-align:center;
    padding: 4px 12px;
    margin: 10px 20px;
    min-width: 150px;
    min-height: 50px;
    background-color: #eee;
    border-style:none;
}

.studentChoice.chosen {
    background-color: steelblue;
}

.studentChoice.noChoiceMade {
    background-color: transparent;
}

.counts {
    min-width: 70px;
    text-align: right;
    padding-right: 10px;
}

.bargraph {
    width:400px; 
    background-color:#eee;
}

.bargraph span {
    display:inline-block; 
    height:50px;
    padding:0px;
    margin:0px;
    background-color: steelblue;
}

#studentTable td {
    position:relative;
}

#studentTable .overlay {
    pointer-events: none;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,0);
    z-index: 10;
}

#studentTable.closed .overlay  {
    background-color: rgba(0,0,0,0.4);   
}
