* { margin:0; padding:0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

body {
  padding-top: 60px;
}

#login-dropdown-list {
    position: absolute;
    left: -120px;
}

.a_not_a_link {
    pointer-events: none;
}

.loading {
    vertical-align: middle;
    width: 100%;
    align-content: center;
    font-size: 30px;
    text-align: center;

}

.navbar-text:link {
    color: #0088cc;
}

.navbar-text:link {
    color: #005580;
}

.navbar-text {
    line-height: 20px;
}

.cert_link {
    cursor: pointer;
    cursor: hand;
}

#new_question_form {
    line-height: 30px;
}

#tf {
    height: 44px;
}

.quickLaunch {
    margin: 2px;
}

.blank {
    width: 50px;
}

div[id^='container']{
    padding:2%;
}


.gridTable: :nth-child(2){
    border: 2px;
}

.frozen{
background-color: #aeebf0;
}
.active{
    background-color: rgba(205, 248, 205, 0.97);
}


.gridRow {
    height: 20px;
}

input[name="choice"]{
    margin: 5px !important;
}

.chart rect {
  fill: blue;
}

#addingTeacher{
    margin-bottom: 0px;
    margin-right: 5px;
}

.alertBox{
    position: absolute;
    width: 300px;
    height: 100px;
    text-align: center;
    z-index: 2;
    margin-left: 100px;
    margin-top: -100px;
    background-color: #fabdbd;
}

.ohno {
    text-align: center;

}

/*#studentTable{
    margin-right:auto;
    margin-left:auto;
}*/
/*The submit button on the */
input[type=submit]{
    display:inline-block;
    padding: 4px 12px;
    /*margin:5%;*/
    margin: 10px;
    border-color: #ddd;
    min-width: 200px;
    min-height:50px;
    text-align:center;
    border-style:none;

}





.teacherOptions{
    background-color:#e7e7e7 ;
    min-width: 100px;
    text-align: center;
}
.tableSummary{
    background-color:lightBlue ;
    min-width: 100px;
    text-align: center;
}
#input_choices{
    border-collapse: separate;
    border-spacing:6px 6px;
}




/*
  Hide radio button (the round disc)
  we will use just the label to create pushbutton effect
*/
input[type=radio][name=choice] {
    display:none;
    margin:10px;
}

/*
  Change the look'n'feel of labels (which are adjacent to radiobuttons).
  Add some margin, padding to label
*/
input[type=radio][name=choice]  + label {
    display:inline-block;
    padding: 4px 12px;
    background-color: #e7e7e7 ;
    border-color: #ddd;
    min-width: 100px;
    text-align:center;
}
/*
 Change background color for label next to checked radio button
 to make it look like highlighted button
*/
input[type=radio][name=choice]:checked + label {
   background-image: none;
    /*background-color:#d0d0d0;*/
    background-color:#aaaaaa;
}

#bar div {
    font-size: 0.5em;
    font-family: sans-serif;
    color: white;
    background-color: steelblue;
    text-align: right;
    padding: 0.5em;
    margin: 0.2em;
}

td span {
    font-size: 0.5em;
    font-family: sans-serif;
    color: white;
    background-color: steelblue;
    text-align: right;
    padding: 0.5em;
    margin: 0.2em;
}

/*/////////////////////////*/

#people_all td{
    padding:10px;
}

#add_teacher{
    margin-bottom:20px;

}

input[name=addingTeacher]{
    height:30px;
}

td.peoples{
    background-color:lightgray;
    padding:6px;
}

.people_table{
    margin:15px;
}





/*Tryan write an overlay for the question View*/
.overlay.open {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,0.4);
    z-index: 10;
}

.overlay.closed{
    position: absolute;
    top: 0;
    left: 0;
    height: 0%;
    width: 0%;
    background-color: rgba(0,0,0,0);
    z-index: 10;
}

/*////////////////////////////////////*/
