body {
  padding-top: 60px;
}

#input_choices {
    padding-left: 30px;
}

#new_question_form {
    line-height: 30px;
}

.blank {
    width: 100px;
}

div[id^='container']{
    padding:1%;
}


.gridTable: :nth-child(2){
    border: 2px;
}

.frozen{
background-color: #aeebf0;
}
.active{
    background-color: rgba(205, 248, 205, 0.97);
}


.gridRow {
    height: 20px;
}

input[name="choice"]{
    margin: 5px !important;
}

.chart rect {
  fill: blue;
}

.alertBox{
    position: absolute;
    width:300px;
    height: 100px;
    text-align: center;
    z-index: 2;
    margin-left: 100px;
    margin-top: -100px;
    background-color: #fabdbd;
}
