body {
  padding-top: 60px;
}

#login-dropdown-list {
    position: absolute;
    left: -120px;
}

#input_choices {
    padding-left: 30px;
}

.navbar-text:link {
    color: #0088cc;
}

.navbar-text:link {
    color: #005580;
}

.navbar-text {
    line-height: 20px;

}

#new_question_form {
    line-height: 30px;
}

.blank {
    width: 100px;
}

div[id^='container']{
    padding:2%;
}


.gridTable: :nth-child(2){
    border: 2px;
}

.frozen{
background-color: #aeebf0;
}
.active{
    background-color: rgba(205, 248, 205, 0.97);
}


.gridRow {
    height: 20px;
}

input[name="choice"]{
    margin: 5px !important;
}

.chart rect {
  fill: blue;
}

.alertBox{
    position: absolute;
    width:300px;
    height: 100px;
    text-align: center;
    z-index: 2;
    margin-left: 100px;
    margin-top: -100px;
    background-color: #fabdbd;
}



/*#studentTable{
    margin-right:auto;
    margin-left:auto;
}*/
/*The submit button on the */
input[type=submit].unclicked{
    display:inline-block;
    padding: 4px 12px;
    /*margin:5%;*/
    margin: 10px;
    background-color: lightBlue ;
    border-color: #ddd;
    min-width: 200px;
    min-height:50px;
    text-align:center;
    border-style:none;

}

input[type=submit].clicked{
    display:inline-block;
    padding: 4px 12px;
/*    margin:5%;*/
    margin: 10px;
    background-color: gray ;
    border-color: #ddd;
    min-width: 200px;
    min-height: 50px;
    text-align:center;
    border-style:none;
}




.teacherOptions{
    background-color:#e7e7e7 ;
    min-width: 100px;
    text-align: center;
}
#input_choices{
    border-collapse: separate;
    border-spacing:5px 10px;
}




/*
  Hide radio button (the round disc)
  we will use just the label to create pushbutton effect
*/
input[type=radio][name=choice] {
    display:none;
    margin:10px;
}

/*
  Change the look'n'feel of labels (which are adjacent to radiobuttons).
  Add some margin, padding to label
*/
input[type=radio][name=choice]  + label {
    display:inline-block;
    padding: 4px 12px;
    background-color: #e7e7e7 ;
    border-color: #ddd;
    min-width: 100px;
    text-align:center;
}
/*
 Change background color for label next to checked radio button
 to make it look like highlighted button
*/
input[type=radio][name=choice]:checked + label {
   background-image: none;
    /*background-color:#d0d0d0;*/
    background-color:#aaaaaa;
}

#bar div {
    font-size: 0.5em;
    font-family: sans-serif;
    color: white;
    background-color: steelblue;
    text-align: right;
    padding: 0.5em;
    margin: 0.2em;
}

