* { margin:0; padding:0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

body {
  padding-top: 60px;
}

.navbar-text {
    line-height: 20px;
}

div[id^='container']{
    padding:2%;
}

.frozen{
background-color: #aeebf0;
}
.active{
    background-color: rgba(205, 248, 205, 0.97);
}


/*The submit button on the */
input[type=submit]{
    display:inline-block;
    padding: 4px 12px;
    margin:5%;
    margin: 10px;
    border-color: #ddd;
    min-width: 200px;
    min-height:50px;
    text-align:center;
    border-style:none;
    white-space:normal
}




.tableSummary{
    background-color:lightBlue ;
    min-width: 100px;
    text-align: center;
}



td span {
    font-size: 0.5em;
    font-family: sans-serif;
    color: white;
    background-color: steelblue;
    text-align: right;
    padding: 0.5em;
    margin: 0.2em;
}

.overlay {
    pointer-events: none;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,0);
    z-index: 10;
}

.overlay.closed {
    background-color: rgba(0,0,0,0.4);
}

/*////////////////////////////////////*/
