#input_choices {
    padding-left: 30px;
}

#new_question_form {
    line-height: 30px;
}

.blank {
    width: 100px;
}

div[id^='container']{
	padding:1%;
}

.selectionIndicator {
    text-align: center; /* center checkbox horizontally */
    vertical-align: middle; /* center checkbox vertically */
}

.gridRow {
    height: 20px;   
}
